.button {
    background-color: transparent;
    border: none;
    display: inline-block;
    padding: 5px;
    margin-left: 5px;
    font-weight: bold;
    cursor: pointer;
}

.a {
    text-decoration: none;
}